
#filter {
	margin: 0.5rem 0.35rem 2rem 0.35rem !important;
}

#new-collection {
	margin: 0.5rem 0.35rem 0.5rem 0.35rem !important;

}

.index-product-actions {
	text-align: right;
}

#product-list {

}

#product-list .list .row {
	padding: 0.2rem 0;
}

.product-image {
	display: block;
	max-width: 200px;
}

.collection-select {
	width: 100%;
	margin: 0.5rem 0.35rem 0 0.35rem !important;
}