body {
  background: #00356B;


  padding-top: 20px;
}

h1 {
  width: 70%;
  height: 110px;
  color: #fff;
  margin: 0 auto;
  padding: 10px 0;
}

.top_nav {
  width: 70%;
  margin: 0 auto;

  ul {
    list-style: none;
    background-color: #444;

    padding: 0;
    margin: 0;
  }

  li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
  }

  a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
    text-align: center;
  }

  a:hover {
    background-color: #005f5f;
  }

  a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }

  .modules {
    font-size: 12px;
    height: 30px;
  
    li {
      height: 30px;
      line-height: 30px;
    }
  }

}

body > .container {
  width: 70%;
  background-color: #fff;
  padding-bottom: 20px;
  background-color: rgb(241, 241, 241);
  padding: 10px;
}

.boxshadow, .box {
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid #cce;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background-color: #fff;
}

.box h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22.4px;
  font-weight: bold;

  background-color: #E6E6E6;
  padding: 5px 0 2px 5px;
  margin: -10px;
  color: #333;
  margin-bottom: 10px;

}


@media screen and (max-width: 1500px) {
  .container, .nav, h1 {
    width: 97%;
  }
}
 
@media screen and (min-width: 600px) {
  .top_nav li {
    display: inline-block;
    margin-right: -4px;
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
}


#pages {
  width: 90%;
  margin: 10px auto 10px auto;
  background-color: #444444;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

  h2 {
    font-size: 2rem;
    padding: 6px 10px;
    margin: 0;
    color: #fff;
  }

  a {
    display: block;
    padding: 5px 0 5px 5px;
    background-color: #D4D4D4;

  }

  .addPage {
    background-color: #444444;
    color: #fff;
    text-align: right;
    padding-right: 10px;
  }
}

.page_contentBlock {
  margin-top: 20px;
  padding: 20px;
  background-color: #D4D4D4;
}

.page_contentBlock textarea {
  display: block;
  width: 100%;
}