#webworkscms_testtoolbar {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  height: 100%;
  width: 350px;
  z-index: 9999999 !important;
  border: 1px solid red;
  background-color: #222; }

#webworkscms_admintoolbar {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  height: 35px;
  border: 0 !important;
  z-index: 9999999 !important;
  text-align: right;
  padding-right: 20px;
  padding-top: 5px; }

#webworkscms_admintoolbar .spacer {
  display: inline-block;
  width: 20px; }

#webworkscms_admintoolbar input, #webworkscms_admintoolbar a {
  display: inline-block;
  margin: 5px 0 5px 5px;
  padding: 2px 15px;
  background: #2b963d;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold; }

#webworkscms_admintoolbar .inputbox {
  background-color: #fff;
  color: #444; }
#webworkscms_admintoolbar .inputbox:active, #webworkscms_admintoolbar .inputbox:hover {
  background-color: #fff; }

#webworkscms_admintoolbar input:hover, #webworkscms_admintoolbar a:hover {
  background: #3cab4e; }

#webworkscms_admintoolbar input:focus, #webworkscms_admintoolbar a:focus {
  outline: none !important; }

#webworkscms_admintoolbar input:active, #webworkscms_admintoolbar a:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 3px); }
