

.table {
	table-layout:fixed;
	margin-top: 30px;

	tr td {
		vertical-align: middle !important;
	}

	.filename {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 300px !important;
	}
}

.dropzone {
	margin: 30px;
	border: 2px dashed blue;
}

.dropzone .dz-message {
	font-weight: bold;
	font-size: 20px;
}

.image_upload_settings {

	margin-top: 20px;

	.form-group {
		display: block;
		margin-top: 5px;
	}

	.form-control {
		width: 80px;
	}

	label {
		width: 150px;
	}
	
	button {
		width: 100%;
		margin: 20px 0;
		font-weight: bold;
	}
}