@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.ttf"); }


html, body {
  background-color: #f1f1f1;
  height: 100%;
  margin-bottom: 0 !important; 
}

h1 {
  font-size: 22px;
  font-weight: normal;
  margin: 0 auto 20px 0;
  padding: 10px 0;
  border-bottom: 1px solid !important;
  border-color: #d5d5d5 #a2a2a2 #888888 !important;
  background-color: #eee !important;
  background-size: 100% !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #d5d5d5)) !important;
  background-image: -moz-linear-gradient(#eeeeee, #d5d5d5) !important;
  background-image: -webkit-linear-gradient(#eeeeee, #d5d5d5) !important;
  background-image: linear-gradient(#eeeeee, #d5d5d5) !important;
  box-shadow: 0px 1px 1px #085a9b !important;
}

h1 button {
  float: right;
  margin-right: 15px;
  font-weight: bold;
  top: 10px;
}

body > .container-fluid {

  background-color: #fff;
  padding-bottom: 20px;
  background-color: #f1f1f1;
  padding: 15px 25px 0 25px; 
}

.webworkscms_button {
  box-sizing: border-box;
  font-family: Roboto, sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.5) !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  text-align: center !important;
  display: inline-block;
  outline: none !important;
  cursor: pointer !important;
  padding: 0.5rem 2em 0.5rem !important;
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border: 1px solid !important;
  border-color: #d5d5d5 #a2a2a2 #888888 !important;
  background-color: #eee !important;
  background-size: 100% !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #d5d5d5)) !important;
  background-image: -moz-linear-gradient(#eeeeee, #d5d5d5) !important;
  background-image: -webkit-linear-gradient(#eeeeee, #d5d5d5) !important;
  background-image: linear-gradient(#eeeeee, #d5d5d5) !important;
  box-shadow: 0px 1px 1px #085a9b !important;
  -moz-transition: all 100ms !important;
  -o-transition: all 100ms !important;
  -webkit-transition: all 100ms !important;
  transition: all 100ms !important;
  margin: 0 0.35rem !important;
  cursor: pointer !important;
  -moz-transition: all 0.1s !important;
  -o-transition: all 0.1s !important;
  -webkit-transition: all 0.1s !important;
  transition: all 0.1s !important;
  line-height: 24px !important;
}

.webworkscms_button:active {
  border-color: #a2a2a2 #bbbbbb #eee !important;
  background-size: 100% !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1e1e1), color-stop(100%, #eeeeee)) !important;
  background-image: -moz-linear-gradient(#e1e1e1, #eeeeee) !important;
  background-image: -webkit-linear-gradient(#e1e1e1, #eeeeee) !important;
  background-image: linear-gradient(#e1e1e1, #eeeeee) !important;
  -moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset !important;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset !important;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset !important;
  -moz-transition: all 10ms !important;
  -o-transition: all 10ms !important;
  -webkit-transition: all 10ms !important;
  transition: all 10ms !important;
}

.btn-fullwidth {
  width: 100% !important;
  margin-top: 10px !important;
  border: 1px solid red;
}

a.btn-fullwidth {
  padding: 10px 0 !important;
}

.alert {
  font-size: 20px;
  padding: 10;
  background-color: #FFEFB9;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}