@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

body {
    margin-bottom: 55px;
}

#webworkscms_admintoolbar #webworks_phonenumber {
  color: #fff;
  font-weight:bold;
  font-size: 32px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
}

#webworkscms_admintoolbar {
    display: table;
    table-layout: fixed;
    width: 100%;
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;

    height: 55px !important;

    z-index: 9999999 !important;
    text-align: left;
    padding-bottom: 1px;

    border-top: 1px solid #fff;
    outline: 1px solid #428EEB;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100&0.9+0,0.9+100 */
    background: -moz-linear-gradient(top, rgba(109,179,242,0.9) 0%, rgba(84,163,238,0.9) 50%, rgba(54,144,240,0.9) 51%, rgba(30,105,222,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(109,179,242,0.9) 0%,rgba(84,163,238,0.9) 50%,rgba(54,144,240,0.9) 51%,rgba(30,105,222,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(109,179,242,0.9) 0%,rgba(84,163,238,0.9) 50%,rgba(54,144,240,0.9) 51%,rgba(30,105,222,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e66db3f2', endColorstr='#e61e69de',GradientType=0 ); /* IE6-9 */
}

#webworkscms_admintoolbar div {
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle !important;
}

#webworkscms_admintoolbar #webworks_logo {
  vertical-align: middle;
  margin-left: 10px;
  width: 35px;
}

#webworkscms_admintoolbar #right_div {
    text-align: right;
    padding-right: 20px;
    width: 33.333%;
}

#webworkscms_admintoolbar #left_div {
    width: 33.333%;
}

#webworkscms_admintoolbar #center_div {
    width: 33.333%;
}

#webworkscms_admintoolbar #center_div, #webworkscms_admintoolbar #statusbar{
    text-align: center;
    color:#000;
    font-family: Roboto, sans-serif !important;
    font-size: 18px;
    font-weight: 500;
}



#webworkscms_admintoolbar .spacer {
    display: inline-block;
    width: 20px;
}

#webworkscms_admintoolbar #help_div {
    display: block;
    clear: both;
}

#webworkscms_admintoolbar .button, #webworkscms_admintoolbar #views, .editable .toolbar .button, .logoutwarning .button, .webworks-admin-button {
  box-sizing: border-box !important;
  font-family: Roboto, sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: rgba(0, 0, 0, 0.8) !important;
  text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.5) !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  text-align: center !important;
  display: inline-block;
  outline: none !important;
  cursor: pointer !important;
  padding: 0.5rem 2rem 0.5rem !important;
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border: 1px solid !important;
  border-color: #d5d5d5 #a2a2a2 #888888 !important;
  background-color: #eee !important;
  background-size: 100% !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #d5d5d5)) !important;
  background-image: -moz-linear-gradient(#eeeeee, #d5d5d5) !important;
  background-image: -webkit-linear-gradient(#eeeeee, #d5d5d5) !important;
  background-image: linear-gradient(#eeeeee, #d5d5d5) !important;
  box-shadow: 0px 1px 1px #085a9b !important;
  -moz-transition: all 100ms !important;
  -o-transition: all 100ms !important;
  -webkit-transition: all 100ms !important;
  transition: all 100ms !important;
  margin: 0 0.35rem !important;
  cursor: pointer !important;
  -moz-transition: all 0.1s !important;
  -o-transition: all 0.1s !important;
  -webkit-transition: all 0.1s !important;
  transition: all 0.1s !important;
  line-height: 24px !important;
}
#webworkscms_admintoolbar .button:active, #webworkscms_admintoolbar .button-active, #webworkscms_admintoolbar #views:active, .editable .toolbar .button:active, .logoutwarning .button:active, .webworks-admin-button:active {
  border-color: #a2a2a2 #bbbbbb #eee !important;
  background-size: 100% !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1e1e1), color-stop(100%, #eeeeee)) !important;
  background-image: -moz-linear-gradient(#e1e1e1, #eeeeee) !important;
  background-image: -webkit-linear-gradient(#e1e1e1, #eeeeee) !important;
  background-image: linear-gradient(#e1e1e1, #eeeeee) !important;
  -moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset !important;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset !important;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset !important;
  -moz-transition: all 10ms !important;
  -o-transition: all 10ms !important;
  -webkit-transition: all 10ms !important;
  transition: all 10ms !important;
}


body {
    position: relative !important;
}
.editable {
    display: none;
    position: absolute !important;
/*        outline: 10px solid #3682E3 !important;
    outline-offset: -10px !important;*/
    z-index: 3000 !important;     

}

.editable .toolbar {
    display: inline-block;
    float: right;
    text-align: right;
    position: relative;

}

.editable .border {
    position: absolute !important;
    z-index: 99999 !important;
    pointer-events: none;
}

.editable .top {
    border-bottom: 20px dashed red !important;
}

.editable .bottom {
    border-top: 20px dashed red !important;
}

.editable .right {
    border-left: 20px dashed red !important;
}

.editable .left {
    border-right: 20px dashed red !important;
}

.editable .toolbar .button {
    margin-top: 15px !important;
    margin-right: 15px !important;
}

.unsaved {
  color: red !important;
}

#webworkscms_admintoolbar .button.disabled, .button[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #333;
    background-color: #E6E6E6;
    pointer-events: none;
}

#webworkscms_admintoolbar #views {
  position: relative !important;
  top: 3px !important;
  font-size: 14px !important;
  padding: 0.1rem 1em 0.1rem !important;
}


#webworks-flyout {
  opacity: 1;
  bottom: 0;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-100%, 0, 0);
  max-width: 420px;
  width: 100%;
  z-index: 9999998;
  background-color: #fff;

  -webkit-box-shadow: 0px -2px 0px 2px rgba(0,0,0,0.39);
  -moz-box-shadow: 0px -2px 0px 2px rgba(0,0,0,0.39);
  box-shadow: 0px -2px 0px 2px rgba(0,0,0,0.39);

  border-right: 1px solid #ccc;

  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -ms-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

#webworks-flyout.active {
  transform: translate3d(0, 0, 0);
}

#webworks-flyout.expanded {
  max-width: 70%;
}

#webworks-flyout-body {
  overflow-y: auto;
  flex: 0 1 0;
  height: 100%;
}

#webworks-flyoutframe {
  height: 98%;
  width: 100%;
  border: none;
}

#webworks-flyout-overlay {
  display: none;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 1031;
  opacity: 0;
  background-color:#888;
}

.webworks-overlayactive {
  display: block !important;
  opacity: 0.5 !important;
  transition: opacity .25s ease-in-out;
}

.tingle-modal {
    z-index: 9999999 !important;
}